<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1><%= t 'global.game.name' %></h1>

<h2><%= t 'static_pages.home.head_2' %></h2>

<div class="gameswrapper">
  <div class="gamesheader"><%= t 'static_pages.home.table_avail_games' %></div>
  <div class="gamesheader"><%= t 'static_pages.home.table_details' %></div>
  <div class="gamesheader"><%= t 'static_pages.home.table_launch_games' %></div>

  <div class="gamesbox">
    <%= image_tag "battle.jpg" %>
  </div>
  <div class="gamesbox">
  	<%= t 'static_pages.home.battleships_details' %>
  </div>
  <div class="gamesbox">
  	<%= link_to t('static_pages.home.btn_play'), games_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>

<h2></h2>
<%= link_to t('static_pages.home.btn_sign_up_now'), signup_path, class: "btn btn-lg btn-primary" %>
</div>
