<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

    <%= form_for(@user) do |f| %>
   

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <p>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <p>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <p>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <p>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

<% if logged_in? %>
   <%= link_to "Log out", logout_path, method: :delete %>
 <% else %>
   <%= link_to "Log in", login_path %><p>
   <%= link_to "Sign up now!", signup_path %>
<% end %>
<%= debug(params) if Rails.env.development? %>