<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div>
  <div>
  <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'  %>
		<p>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control'  %>
		<p>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control'  %>
		<p>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control'  %>
		<p>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
<p>
<%= debug(params) if Rails.env.development? %>
