  Targetting Grid
  <div class="grid-container">

    <% {"Zero" => 0,"One" => 1,"Two" => 2,"Three" => 3,"Four" => 4,"Five" => 5,"Six" => 6,"Seven" => 7,"Eight" => 8,"Nine" => 9,"Ten" => 10}.each do |x,y| %>
    
    	<div class="X-CORDS-ROW-<%= x %>"><%= y %></div> 
    
    <% end %>

	<% ["A","B","C","D","E","F","G","H","I","J"].each do |x| %>
    
     <div class="<%= x %>-Zero"><%= x %></div> 
	
	<% end %>

	<% @game.p1_hashed_display_grid.each do |x, y|  %>
    <% if @game.sub_status == "show_PlayerA"%>
      <% if y == "X" %>
          <div class="<%= x+"-No-Hover" %>"><div style="color:rgb(0,0,0)"><%= y %></div></div>
      <% elsif y == "@"  %>
          <div class="<%= x+"-No-Hover" %>"><b><div style="color:rgb(255,255,255)"><%= y %></b></div></div>     
      <% elsif  y == "H" %>
          <div class="<%= x+"-No-Hover" %>"><b><div style="color:rgb(255,0,0)"><%= y %></b></div></div> 
      <% elsif  y == "S" %>
          <div class="<%= x+"-No-Hover" %>"><b><div style="color:rgb(254, 251, 0)"><%= y %></b></div></div> 
      <% else %>
          <div class="<%= x+"-No-Hover" %>"><b><div style="color:rgb(125,237,26)"><%= y %></b></div></div>      
      <% end %>

    <% else %>
      
      <% if y == "X" %>
          <div class="<%= x %>" id="<%= x.gsub('-','_') %>" onclick="setTarget(this)"><div style="color:rgb(0,0,0)"><%= y %></div></div>
      <% elsif y == "@"  %>
          <div class="<%= x %>" id="<%= x.gsub('-','_') %>"><b><div style="color:rgb(255,255,255)"><%= y %></b></div></div>     
      <% elsif  y == "H" %>
          <div class="<%= x %>" id="<%= x.gsub('-','_') %>" ><b><div style="color:rgb(255,0,0)"><%= y %></b></div></div> 
      <% elsif  y == "S" %>
          <div class="<%= x %>" id="<%= x.gsub('-','_') %>" ><b><div style="color:rgb(254, 251, 0)"><%= y %></b></div></div> 
      <% else %>
          <div class="<%= x %>" id="<%= x.gsub('-','_') %>" ><b><div style="color:rgb(125,237,26)"><%= y %></b></div></div>      
      <% end %>


    <%end %>
	<%end %> 
  
  </div>