<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pA_name %>
    <%= form.text_field :pA_name %>
  </div>

  <div class="field">
    <%= form.label :pB_name %>
    <%= form.text_field :pB_name %>
  </div>

  <div class="field">
    <%= form.label :visible_grid %>
    <%= form.text_area :visible_grid %>
  </div>

  <div class="field">
    <%= form.label :hashed_grid %>
    <%= form.text_area :hashed_grid %>
  </div>

  <div class="field">
    <%= form.label :direction %>
    <%= form.text_field :direction %>
  </div>

  <div class="field">
    <%= form.label :x_pos %>
    <%= form.text_field :x_pos %>
  </div>

  <div class="field">
    <%= form.label :y_pos %>
    <%= form.text_field :y_pos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
