<p id="notice"><%= notice %></p>
<h2>Hashed Grid</h2>

<% @game.hashed_grid.each do |g| %>
<%= g %><p>
<% end %>

<p>
  <strong>PA name:</strong>
  <%= @game.pA_name %>
</p>

<p>
  <strong>PB name:</strong>
  <%= @game.pB_name %>
</p>

<p>
  <strong>Visible grid:</strong>
  <%= @game.visible_grid %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @game.direction %>
</p>

<p>
  <strong>X pos:</strong>
  <%= @game.x_pos %>
</p>

<p>
  <strong>Y pos:</strong>
  <%= @game.y_pos %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
