@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#link-to-text-color a {
  color: #fff;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 3px;
  
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 350px;
}

 form input[type='text'] {
   width: 350px;
 }

/* Tables */
.tablewrapper {
  display: grid;
  grid-template-columns: 80px 50px 80px 50px 120px 150px 40px 60px;
  grid-gap: 3px;
  background-color: #fff;
  color: #444;
}

.tableheader {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 100%;
}
.tablebox {

}

.gameswrapper {
  display: grid;
  grid-template-columns: 200px 200px 110px;
  grid-gap: 3px;
  background-color: #fff;
  color: #444;
}

.gamesheader {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 100%;
}
.gamesbox {

}

/* grids */

body {
  margin: 40px;
}

.playwrapper {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.playbox {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

/* Grid grids */

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 25px);
  grid-template-rows: repeat(11, 25px);
  padding: 10px;
}

.X-CORDS-ROW-Zero {
grid-column: 1 / 2;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-One {
grid-column: 2 / 3;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Two {
grid-column: 3 / 4;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Three {
grid-column: 4 / 5;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Four {
grid-column: 5 / 6;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Five {
grid-column: 6 / 7;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Six {
grid-column: 7 / 8;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Seven {
grid-column: 8 / 9;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Eight {
grid-column: 9 / 10;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Nine {
grid-column: 10 / 11;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.X-CORDS-ROW-Ten {
grid-column: 11 / 12;
grid-row: 1 / 2;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Zero {
grid-column: 1 / 2;
grid-row: 2 / 3;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-One {
grid-column: 2 / 3;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Two {
grid-column: 3 / 4;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Three {
grid-column: 4 / 5;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Four {
grid-column: 5 / 6;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Five {
grid-column: 6 / 7;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Six {
grid-column: 7 / 8;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Seven {
grid-column: 8 / 9;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Eight {
grid-column: 9 / 10;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Nine {
grid-column: 10 / 11;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Ten {
grid-column: 11 / 12;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Zero {
grid-column: 1 / 2;
grid-row: 3 / 4;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-One {
grid-column: 2 / 3;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Two {
grid-column: 3 / 4;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Three {
grid-column: 4 / 5;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Four {
grid-column: 5 / 6;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Five {
grid-column: 6 / 7;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Six {
grid-column: 7 / 8;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Seven {
grid-column: 8 / 9;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Eight {
grid-column: 9 / 10;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Nine {
grid-column: 10 / 11;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Ten {
grid-column: 11 / 12;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Zero {
grid-column: 1 / 2;
grid-row: 4 / 5;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-One {
grid-column: 2 / 3;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Two {
grid-column: 3 / 4;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Three {
grid-column: 4 / 5;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Four {
grid-column: 5 / 6;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Five {
grid-column: 6 / 7;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Six {
grid-column: 7 / 8;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Seven {
grid-column: 8 / 9;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Eight {
grid-column: 9 / 10;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Nine {
grid-column: 10 / 11;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Ten {
grid-column: 11 / 12;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Zero {
grid-column: 1 / 2;
grid-row: 5 / 6;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-One {
grid-column: 2 / 3;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Two {
grid-column: 3 / 4;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.D-Three {
grid-column: 4 / 5;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Four {
grid-column: 5 / 6;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Five {
grid-column: 6 / 7;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Six {
grid-column: 7 / 8;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Seven {
grid-column: 8 / 9;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Eight {
grid-column: 9 / 10;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Nine {
grid-column: 10 / 11;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Ten {
grid-column: 11 / 12;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Zero {
grid-column: 1 / 2;
grid-row: 6 / 7;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-One {
grid-column: 2 / 3;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Two {
grid-column: 3 / 4;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Three {
grid-column: 4 / 5;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Four {
grid-column: 5 / 6;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Five {
grid-column: 6 / 7;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Six {
grid-column: 7 / 8;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Seven {
grid-column: 8 / 9;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Eight {
grid-column: 9 / 10;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Nine {
grid-column: 10 / 11;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Ten {
grid-column: 11 / 12;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Zero {
grid-column: 1 / 2;
grid-row: 7 / 8;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-One {
grid-column: 2 / 3;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Two {
grid-column: 3 / 4;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Three {
grid-column: 4 / 5;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Four {
grid-column: 5 / 6;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Five {
grid-column: 6 / 7;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Six {
grid-column: 7 / 8;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Seven {
grid-column: 8 / 9;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Eight {
grid-column: 9 / 10;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Nine {
grid-column: 10 / 11;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Ten {
grid-column: 11 / 12;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Zero {
grid-column: 1 / 2;
grid-row: 8 / 9;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-One {
grid-column: 2 / 3;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Two {
grid-column: 3 / 4;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Three {
grid-column: 4 / 5;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Four {
grid-column: 5 / 6;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Five {
grid-column: 6 / 7;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Six {
grid-column: 7 / 8;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Seven {
grid-column: 8 / 9;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Eight {
grid-column: 9 / 10;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Nine {
grid-column: 10 / 11;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Ten {
grid-column: 11 / 12;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Zero {
grid-column: 1 / 2;
grid-row: 9 / 10;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-One {
grid-column: 2 / 3;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Two {
grid-column: 3 / 4;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Three {
grid-column: 4 / 5;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Four {
grid-column: 5 / 6;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Five {
grid-column: 6 / 7;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Six {
grid-column: 7 / 8;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Seven {
grid-column: 8 / 9;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Eight {
grid-column: 9 / 10;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Nine {
grid-column: 10 / 11;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Ten {
grid-column: 11 / 12;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Zero {
grid-column: 1 / 2;
grid-row: 10 / 11;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-One {
grid-column: 2 / 3;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Two {
grid-column: 3 / 4;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Three {
grid-column: 4 / 5;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Four {
grid-column: 5 / 6;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Five {
grid-column: 6 / 7;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Six {
grid-column: 7 / 8;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Seven {
grid-column: 8 / 9;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Eight {
grid-column: 9 / 10;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Nine {
grid-column: 10 / 11;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Ten {
grid-column: 11 / 12;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Zero {
grid-column: 1 / 2;
grid-row: 11 / 12;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-One {
grid-column: 2 / 3;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Two {
grid-column: 3 / 4;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Three {
grid-column: 4 / 5;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Four {
grid-column: 5 / 6;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Five {
grid-column: 6 / 7;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Six {
grid-column: 7 / 8;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Seven {
grid-column: 8 / 9;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Eight {
grid-column: 9 / 10;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Nine {
grid-column: 10 / 11;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Ten {
grid-column: 11 / 12;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}

/* Selected */
.A-One-Selected {
grid-column: 2 / 3;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Two-Selected {
grid-column: 3 / 4;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Three-Selected {
grid-column: 4 / 5;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Four-Selected {
grid-column: 5 / 6;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Five-Selected {
grid-column: 6 / 7;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Six-Selected {
grid-column: 7 / 8;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Seven-Selected {
grid-column: 8 / 9;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Eight-Selected {
grid-column: 9 / 10;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Nine-Selected {
grid-column: 10 / 11;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Ten-Selected {
grid-column: 11 / 12;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-One-Selected {
grid-column: 2 / 3;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Two-Selected {
grid-column: 3 / 4;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Three-Selected {
grid-column: 4 / 5;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Four-Selected {
grid-column: 5 / 6;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Five-Selected {
grid-column: 6 / 7;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Six-Selected {
grid-column: 7 / 8;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Seven-Selected {
grid-column: 8 / 9;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Eight-Selected {
grid-column: 9 / 10;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Nine-Selected {
grid-column: 10 / 11;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Ten-Selected {
grid-column: 11 / 12;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-One-Selected {
grid-column: 2 / 3;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Two-Selected {
grid-column: 3 / 4;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Three-Selected {
grid-column: 4 / 5;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Four-Selected {
grid-column: 5 / 6;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Five-Selected {
grid-column: 6 / 7;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Six-Selected {
grid-column: 7 / 8;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Seven-Selected {
grid-column: 8 / 9;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Eight-Selected {
grid-column: 9 / 10;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Nine-Selected {
grid-column: 10 / 11;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Ten-Selected {
grid-column: 11 / 12;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-One-Selected {
grid-column: 2 / 3;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Two-Selected {
grid-column: 3 / 4;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.D-Three-Selected {
grid-column: 4 / 5;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Four-Selected {
grid-column: 5 / 6;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Five-Selected {
grid-column: 6 / 7;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Six-Selected {
grid-column: 7 / 8;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Seven-Selected {
grid-column: 8 / 9;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Eight-Selected {
grid-column: 9 / 10;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Nine-Selected {
grid-column: 10 / 11;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Ten-Selected {
grid-column: 11 / 12;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}

.E-One-Selected {
grid-column: 2 / 3;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Two-Selected {
grid-column: 3 / 4;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Three-Selected {
grid-column: 4 / 5;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Four-Selected {
grid-column: 5 / 6;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Five-Selected {
grid-column: 6 / 7;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Six-Selected {
grid-column: 7 / 8;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Seven-Selected {
grid-column: 8 / 9;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Eight-Selected {
grid-column: 9 / 10;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Nine-Selected {
grid-column: 10 / 11;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Ten-Selected {
grid-column: 11 / 12;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-One-Selected {
grid-column: 2 / 3;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Two-Selected {
grid-column: 3 / 4;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Three-Selected {
grid-column: 4 / 5;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Four-Selected {
grid-column: 5 / 6;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Five-Selected {
grid-column: 6 / 7;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Six-Selected {
grid-column: 7 / 8;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Seven-Selected {
grid-column: 8 / 9;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Eight-Selected {
grid-column: 9 / 10;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Nine-Selected {
grid-column: 10 / 11;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Ten-Selected {
grid-column: 11 / 12;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-One-Selected {
grid-column: 2 / 3;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Two-Selected {
grid-column: 3 / 4;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Three-Selected {
grid-column: 4 / 5;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Four-Selected {
grid-column: 5 / 6;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Five-Selected {
grid-column: 6 / 7;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Six-Selected {
grid-column: 7 / 8;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Seven-Selected {
grid-column: 8 / 9;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Eight-Selected {
grid-column: 9 / 10;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Nine-Selected {
grid-column: 10 / 11;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Ten-Selected {
grid-column: 11 / 12;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-One-Selected {
grid-column: 2 / 3;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Two-Selected {
grid-column: 3 / 4;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Three-Selected {
grid-column: 4 / 5;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Four-Selected {
grid-column: 5 / 6;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Five-Selected {
grid-column: 6 / 7;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Six-Selected {
grid-column: 7 / 8;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Seven-Selected {
grid-column: 8 / 9;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Eight-Selected {
grid-column: 9 / 10;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Nine-Selected {
grid-column: 10 / 11;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Ten-Selected {
grid-column: 11 / 12;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-One-Selected {
grid-column: 2 / 3;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Two-Selected {
grid-column: 3 / 4;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Three-Selected {
grid-column: 4 / 5;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Four-Selected {
grid-column: 5 / 6;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Five-Selected {
grid-column: 6 / 7;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Six-Selected {
grid-column: 7 / 8;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Seven-Selected {
grid-column: 8 / 9;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Eight-Selected {
grid-column: 9 / 10;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Nine-Selected {
grid-column: 10 / 11;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Ten-Selected {
grid-column: 11 / 12;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-One-Selected {
grid-column: 2 / 3;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Two-Selected {
grid-column: 3 / 4;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Three-Selected {
grid-column: 4 / 5;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Four-Selected {
grid-column: 5 / 6;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Five-Selected {
grid-column: 6 / 7;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Six-Selected {
grid-column: 7 / 8;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Seven-Selected {
grid-column: 8 / 9;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Eight-Selected {
grid-column: 9 / 10;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Nine-Selected {
grid-column: 10 / 11;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Ten-Selected {
grid-column: 11 / 12;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: tomato;
display: flex;
justify-content: center;
align-items: center;
}

/* Grid hover */
.A-One:hover {
  background-color: yellow;
}
     
.A-Two:hover {
  background-color: yellow;
}
     
.A-Three:hover {
  background-color: yellow;
}
     
.A-Four:hover {
  background-color: yellow;
}
     
.A-Five:hover {
  background-color: yellow;
}
     
.A-Six:hover {
  background-color: yellow;
}
     
.A-Seven:hover {
  background-color: yellow;
}
     
.A-Eight:hover {
  background-color: yellow;
}
     
.A-Nine:hover {
  background-color: yellow;
}
     
.A-Ten:hover {
  background-color: yellow;
}
     
.B-One:hover {
  background-color: yellow;
}
     
.B-Two:hover {
  background-color: yellow;
}
     
.B-Three:hover {
  background-color: yellow;
}
     
.B-Four:hover {
  background-color: yellow;
}
     
.B-Five:hover {
grid-column: 6 / 7;
  background-color: yellow;
}
     
.B-Six:hover {
  background-color: yellow;
}
     
.B-Seven:hover {
  background-color: yellow;
}
     
.B-Eight:hover {
  background-color: yellow;
}
     
.B-Nine:hover {
  background-color: yellow;
}
     
.B-Ten:hover {
  background-color: yellow;
}
     
.C-One:hover {
  background-color: yellow;
}
     
.C-Two:hover {
  background-color: yellow;
}
     
.C-Three:hover {
  background-color: yellow;
}
     
.C-Four:hover {
  background-color: yellow;
}
     
.C-Five:hover {
  background-color: yellow;
}
     
.C-Six:hover {
  background-color: yellow;
}
     
.C-Seven:hover {
  background-color: yellow;
}
     
.C-Eight:hover {
  background-color: yellow;
}
     
.C-Nine:hover {
  background-color: yellow;
}
     
.C-Ten:hover {
  background-color: yellow;
}
     
.D-One:hover {
  background-color: yellow;
}
     
.D-Two:hover {
  background-color: yellow;
}
     
.D-Three:hover {
  background-color: yellow;
}
     
.D-Four:hover {
  background-color: yellow;
}
     
.D-Five:hover {
  background-color: yellow;
}
     
.D-Six:hover {
  background-color: yellow;
}
     
.D-Seven:hover {
  background-color: yellow;
}
     
.D-Eight:hover {
  background-color: yellow;
}
     
.D-Nine:hover {
  background-color: yellow;
}
     
.D-Ten:hover {
  background-color: yellow;
}

.E-One:hover {
  background-color: yellow;
}
     
.E-Two:hover {
  background-color: yellow;
}
     
.E-Three:hover {
  background-color: yellow;
}
     
.E-Four:hover {
  background-color: yellow;
}
     
.E-Five:hover {
  background-color: yellow;
}
     
.E-Six:hover {
  background-color: yellow;
}
     
.E-Seven:hover {
  background-color: yellow;
}
     
.E-Eight:hover {
  background-color: yellow;
}
     
.E-Nine:hover {
  background-color: yellow;
}
     
.E-Ten:hover {
  background-color: yellow;
}
     
.F-One:hover {
  background-color: yellow;
}
     
.F-Two:hover {
  background-color: yellow;
}
     
.F-Three:hover {
  background-color: yellow;
}
     
.F-Four:hover {
  background-color: yellow;
}
     
.F-Five:hover {
  background-color: yellow;
}
     
.F-Six:hover {
  background-color: yellow;
}
     
.F-Seven:hover {
  background-color: yellow;
}
     
.F-Eight:hover {
  background-color: yellow;
}
     
.F-Nine:hover {
  background-color: yellow;
}
     
.F-Ten:hover {
  background-color: yellow;
}
     
.G-One:hover {
  background-color: yellow;
}
     
.G-Two:hover {
  background-color: yellow;
}
     
.G-Three:hover {
  background-color: yellow;
}
     
.G-Four:hover {
  background-color: yellow;
}
     
.G-Five:hover {
  background-color: yellow;
}
     
.G-Six:hover {
  background-color: yellow;
}
     
.G-Seven:hover {
  background-color: yellow;
}
     
.G-Eight:hover {
  background-color: yellow;
}
     
.G-Nine:hover {
  background-color: yellow;
}
     
.G-Ten:hover {
  background-color: yellow;
}
     
.H-One:hover {
  background-color: yellow;
}
     
.H-Two:hover {
  background-color: yellow;
}
     
.H-Three:hover {
  background-color: yellow;
}
     
.H-Four:hover {
  background-color: yellow;
}
     
.H-Five:hover {
  background-color: yellow;
}
     
.H-Six:hover {
  background-color: yellow;
}
     
.H-Seven:hover {
  background-color: yellow;
}
     
.H-Eight:hover {
  background-color: yellow;
}
     
.H-Nine:hover {
  background-color: yellow;
}
     
.H-Ten:hover {
  background-color: yellow;
}
     
.I-One:hover {
  background-color: yellow;
}
     
.I-Two:hover {
  background-color: yellow;
}
     
.I-Three:hover {
  background-color: yellow;
}
     
.I-Four:hover {
  background-color: yellow;
}
     
.I-Five:hover {
  background-color: yellow;
}
     
.I-Six:hover {
  background-color: yellow;
}
     
.I-Seven:hover {
  background-color: yellow;
}
     
.I-Eight:hover {
  background-color: yellow;
}
     
.I-Nine:hover {
  background-color: yellow;
}
     
.I-Ten:hover {
  background-color: yellow;
}
     
.J-One:hover {
  background-color: yellow;
}
     
.J-Two:hover {
  background-color: yellow;
}
     
.J-Three:hover {
  background-color: yellow;
}
     
.J-Four:hover {
  background-color: yellow;
}
     
.J-Five:hover {
  background-color: yellow;
}
     
.J-Six:hover {
  background-color: yellow;
}
     
.J-Seven:hover {
  background-color: yellow;
}
     
.J-Eight:hover {
  background-color: yellow;
}
     
.J-Nine:hover {
  background-color: yellow;
}
     
.J-Ten:hover {
  background-color: yellow;
}

/* Cells with no hover highlighting*/
.A-One-No-Hover {
grid-column: 2 / 3;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.A-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 2 / 3;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-One-No-Hover {
grid-column: 2 / 3;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.B-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 3 / 4;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-One-No-Hover {
grid-column: 2 / 3;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.C-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.C-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 4 / 5;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-One-No-Hover {
grid-column: 2 / 3;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.D-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.D-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 5 / 6;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-One-No-Hover {
grid-column: 2 / 3;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.E-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.E-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 6 / 7;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
       
.F-One-No-Hover {
grid-column: 2 / 3;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.F-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 7 / 8;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-One-No-Hover {
grid-column: 2 / 3;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;


}
     
.G-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.G-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 8 / 9;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-One-No-Hover {
grid-column: 2 / 3;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.H-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 9 / 10;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-One-No-Hover {
grid-column: 2 / 3;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.I-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 10 / 11;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-One-No-Hover {
grid-column: 2 / 3;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Two-No-Hover {
grid-column: 3 / 4;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Three-No-Hover {
grid-column: 4 / 5;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Four-No-Hover {
grid-column: 5 / 6;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Five-No-Hover {
grid-column: 6 / 7;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Six-No-Hover {
grid-column: 7 / 8;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Seven-No-Hover {
grid-column: 8 / 9;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Eight-No-Hover {
grid-column: 9 / 10;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Nine-No-Hover {
grid-column: 10 / 11;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
     
.J-Ten-No-Hover {
grid-column: 11 / 12;
grid-row: 11 / 12;
border: 1px solid rgba(125, 125, 125, 0.5);
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}