  <div class="container">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
     <!-- Brand -->
      <a class="navbar-brand" href="#"><%= link_to t('global.game.name'), root_path, id: "logo" %>
      </a>
  
      <ul class="navbar-nav">

        <li class="nav-item active"><%= link_to t('global.header.home'), root_path, :class => "nav-link" %></li>
        <li class="nav-item active"><%= link_to t('global.header.articles'), articles_path, :class => "nav-link" %></li>        
        <li class="nav-item active"><%= link_to t('global.header.help'), static_pages_help_path, :class => "nav-link" %></li>
        <!-- Dropdown -->
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= t 'global.header.language' %>
          </a>
          <div class="dropdown-menu">
            <%= link_to 'English', url_for(locale: :en), :class => "dropdown-item" %>
            <%= link_to 'ไทย', url_for(locale: :th), :class => "dropdown-item" %>  
            <%= link_to 'हिन्दी भाषा', url_for(locale: :hi), :class => "dropdown-item" %>                
          </div>
        </li>
        <% if logged_in? %>
          <li class="nav-item active"><%= link_to t('global.header.log_out'), logout_path, method: :delete, :class => "nav-link" %></li>
          <li class="nav-item active"><%= link_to t('global.header.settings'), edit_user_path(current_user), :class => "nav-link" %></li>
        <% else %>
          <li class="nav-item active"><%= link_to t('global.header.log_in'), login_path, :class => "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
